# Example terraform.tfvars file
# Rename this to terraform.tfvars and fill in the sensitive values.

use_custom_image = true

gcp_project_id = "n8n-auto-474809"
gcp_region     = "us-west1"

db_host     = "your-neon-host.neon.tech"
db_password = "your-neon-password"

cloud_run_cpu    = "1"
cloud_run_memory = "512Mi"

generic_timezone = "Asia/Jakarta"

actual_server_url = ""
actual_password   = ""
actual_sync_id    = ""

custom_domain = ""

scheduler_times = []

license_activation_key = ""
